h1 {
    font: white;
    font-size: xx-large;
}

#header {
    font: white;
}

body, html {
    height: 100%;
    margin: 0;
    width: 100%;
}

.hero-image {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/static/images/homepage.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-text h1 {
    text-align: initial;
    margin-left: 2em;
    text-indent: -2em;
    line-height: 100%;
    position: absolute;
    top: -45px;
    left: 16px;
    font-size: 5em;
    color: white;
    font-weight: 600;
    font-family: 'Pathway Gothic One';
}

.hero-text p {
    text-align: center;
    color: white;
}

.hero-text button {
    position: absolute;
    top: 0;
    right: 16px;
    width: 250px;
    padding: 1em;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    font-size: 20px; 
    border: 3px solid black;
    border-radius: 30px;
    font-weight: bolder;
    font-family: 'Pathway Gothic One';
}

.hero-text a {
    text-decoration: none;
    color: black;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav ul li {
    list-style: none;
    margin: 0 auto;
    border-right: 2px solid white;
    font-weight: bold;
    display: inline-block;
    margin-left: 5px;
    padding: 0 60px;
    position: relative;
    text-decoration: none;
    font-family: 'Pathway Gothic One';
    text-transform: uppercase;
}
  
nav li a {
    color: white;
    font-size: medium;
}

nav a {
    text-decoration: none
}

nav a:hover {
    color: white;
} 