.flex-container {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}
/* 
.img2 {
    max-width: 100%;
    height: auto;

} */

/* .header {
    position: relative;
    text-align: center;
    top: 18px;
    left: 10px;
} */