body, html {
  height: 100%;
  margin: 0;
  width: 100%;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('/static/images/resources2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-text h1 {
  text-align: initial;
  margin-left: 2.5em;
  text-indent: -2.5em;
  line-height: 100%;
  position: absolute;
  top: 10px;
  left: 16px;
  font-size: 4em;
  color: black;
  font-weight: 600;
}

nav {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border: 3px solid black;
  border-radius: 30px;
  animation: slide-in 1s ease-out;
}

ul {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0 30px;
  padding-left: 30px;
  padding-right: 30px;
  list-style-type: none;
}

ul li {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
}

ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One';
  font-size: 28px;
  font-weight: bold;
  transition: color 0.2s;
}

ul li a:not(:last-child) {
  border-right: 2px solid black;
  margin-right: 20px;
  padding-right: 30px;
}

/* 
ul li ul {
  opacity: 0;
  position: absolute;
  display: block;
  margin: 12px -12px;
  padding: 0;
  background: #ffa91b;
  border: 2px solid #f7c833;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  border-radius: 5px;
  transition: opacity 0.2s, visibility 0.2s;
} */

ul li:hover {
  background: whitesmoke;
}

ul li:hover ul {
  display: block;
}

ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}

ul li ul li { 
  background: whitesmoke; 
  display: block; 
}
ul li ul li a {
  display:block !important;
} 

ul li ul li:hover {
  background: padding-box pink;
}

ul li ul li {
  margin: -2px 0 0 -2px;
  width: calc(100% -20px);
  line-height: 1.7;
}

ul li ul li a {
  color: black;
  text-transform: capitalize;
  font-family: 'Pathway Gothic One';
  font-size: 25px;
  border-radius: 5px;
  /* border: 1px solid black; */
}

#button {
    position: fixed;
    top: 0;
    right: 10px;
    width: 100px;
    padding: 1em;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    font-family: 'Pathway Gothic One';
    text-transform: uppercase;
    font-size: 20px; 
    border: transparent;
    /* border-radius: 30px; */
    font-weight: bold;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 70px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

li .dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
} */

/* .desc {
  text-align: center;
} */
















/* #image {
  width: 20px;
  height: 20px;
} */
/* li.dropdown {
  display: inline-block;
} */

/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} */

/* .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
} */

/* .dropdown-content a:hover {background-color: #f1f1f1;} */

/* .dropdown:hover .dropdown-content {
  display: block;
} */
/* 

////////// 
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main_menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

p {
  text-align: justify;
  width: [width of image];
}

.colA {
  width: 500px;
  height: 0;
  margin: 50px;
  margin-top: 200px;
  margin-bottom: 0px;
}

.col-1 {
  width: 500px;
  height: 300px;
  margin: 50px;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 50px;
}

.col-2 {
  width: 500px;
  height: 300px;
  margin: 50px;
  margin-top: 200px;
  margin-bottom: 80px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin: 0 auto;
}

nav ul li {
  list-style: none;
  margin: 0 auto;
  border-right: 2px solid black;
  font-weight: bold;
  display: inline-block;
  padding: 0 70px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: arvo;
}

nav li a {
  color: black;
}

nav a {
  text-decoration: none
}
nav a:hover {
  color: darkblue;
}  */