body {
  background: whitesmoke;
  background-image: ;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main_menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

p {
  text-align: justify;
  width: [width of image];
}

.colA {
  width: 500px;
  height: 0;
  margin: 50px;
  margin-top: 200px;
  margin-bottom: 0px;
}

.col-1 {
  width: 500px;
  height: 300px;
  margin: 50px;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 50px;
}

.col-2 {
  width: 500px;
  height: 300px;
  margin: 50px;
  margin-top: 200px;
  margin-bottom: 80px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin: 0 auto;
}

nav ul li {
  list-style: none;
  margin: 0 auto;
  border-right: 2px solid black;
  font-weight: bold;
  display: inline-block;
  padding: 0 70px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: arvo;
}

nav li a {
  color: black;
}

nav a {
  text-decoration: none
}
nav a:hover {
  color: darkblue;
} 