body {
    background-color: #f5f5f5;
    color: black;
}

#image {
    margin-top: 20px;
}

#image1 {
    margin-top: 5px;
    margin-bottom: -20px;
}

.current-status {
    text-decoration: none;
    color: black;
} 

h1 {
    font-family: 'Pathway Gothic One';
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 10px;
}

p {
    font-family: 'Pathway Gothic One';
    text-transform: capitalize;
    font-size: 20px;
    margin-top: -20px;
}

#state-guide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#stateCard1 {
    background-color: #f5f5f5;
    width: 210px;
    border: 15px solid #fa003f;
    padding: 50px;
    margin: 20px;
    height: 200px;
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 20px;
}

#stateCard2 {
    background-color: #f5f5f5;
    width: 210px;
    border: 15px solid #00916e;
    padding: 50px;
    margin: 20px;
    height: 200px;
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 20px;
}

#stateCard3 {
    background-color: #f5f5f5;
    width: 210px;
    border: 15px solid #ffcf00;
    padding: 50px;
    margin: 20px;
    height: 200px;
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 20px;
}

#button {
    position: fixed;
    top: 0;
    right: 10px;
    width: 100px;
    padding: 1em;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    font-family: 'Pathway Gothic One';
    text-transform: uppercase;
    font-size: 15px; 
    border: 1px solid black;
    border-radius: 30px;
    font-weight: bold;
}
