.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
}

.dropdown:hover .dropdown-options {
    display: block;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

body {
    background-color: whitesmoke;
}

#state-guide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#stateCard1 {
    background-color: white;
    width: 300px;
    border: 15px solid darkred;
    padding: 50px;
    margin: 20px;
    height: 300px;
    text-align: center;
}

#stateCard2 {
    background-color: white;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    height: 300px;
    text-align: center;
}

#stateCard3 {
    background-color: white;
    width: 300px;
    border: 15px solid darkgoldenrod;
    padding: 50px;
    margin: 20px;
    height: 300px;
    text-align: center;
}

nav ul li {
    list-style: none;
    margin: 0 auto;
    border-right: 2px solid black;
    font-weight: bold;
    display: inline-block;
    padding: 0 60px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
}
  
nav li a {
    color: black;
}

nav a {
    text-decoration: none
}
nav a:hover {
    color: darkblue;
} 