
h1 {
    font-size: x-large;
    text-align: center;
}
h3 {
    font-size: large;
    text-align: center;
}
body {
    background-color: whitesmoke;
}

.column {
    display: inline-block;
}

#button {
    position: absolute;
    top: 0;
    right: 10px;
    width: 100px;
    padding: 1em;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: whitesmoke;
    font-size: small; 
    border: 1px solid black;
    border-radius: 30px;
    font-weight: bold;
}