<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="/Static/css/stylesheet.css"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
        {% block title %}{% endblock %}
    </title>
    <!--<link href="/static/css/stylesheet.css", rel="stylesheet">-->
    {% block head %}{% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
    {% endfor %}
    {% block body %}{% endblock %}  
    {% block js %}{% endblock %}
</body>
</html>

