<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/Static/css/stylesheet.css"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
        {% block title %}{% endblock %}
    </title>
    <!--<link href="/static/css/stylesheet.css", rel="stylesheet">-->
    {% block head %}{% endblock %}
</head>
<body>
    <div>
    {% for message in get_flashed_messages() %}
        <li>
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            </div>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </li>
    {% endfor %}
    </div>

    {% block body %}{% endblock %}  
    {% block js %}{% endblock %}
</body>
</html>

