{% extends 'base.html' %}

{% block title %}US Abortion Clinics{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/maps.css">
{% endblock %}

{% block body %}
<!-- <div class="container">
        <label for="donate-now"></label>
        <a href="https://www.weareplannedparenthood.org/onlineactions/2U7UN1iNhESWUfDs4gDPNg2?_gl=1*il9wq5*_ga*MTk3MDI0OTQzOC4xNjc3NTE3Njkx*_gid*MTQ3Nzg3OTk5OS4xNjc4MzIwODY5">Donate to Planned Parenthood!</a>
    </div> -->
    <form onsubmit="searchBar">
        <input id="searchInput" type="text" placeholder="Enter state here">
        <input type="submit" value="submit">
    </form>
    <div id="map" class="container">
        <div class="text">Current Remaining Abortion Clinics in the US:</div>
        <script src="/static/js/maps.js"></script>
    <ul class="geo-data">
        <li>Zipcode: <span id="location"></span></li>
        <li>Latitude: <span id="lat"></span></li>
        <li>Longitude: <span id="lng"></span></li>
    </ul>
        <script
            async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNsF_2Swk4zN6INkJSc_D6EjoDRMOLlB4&callback=initMap">
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5blJIhehQtAxxbGiNz4pKcKlmdLG8JvI&libraries=places&callback=initMap"
        </script>
    </div>
</div>

{% endblock %}
