{% extends 'base.html' %}

{% block title %}Interactive Map{% endblock %}

{% block head %}
    <h1>Click on marker to view information about a specific clinic:</h1>
    <div class="search">
        <form>
            <input type="text"
                placeholder="Enter state">
            <button>
                <input type="submit">
            </button>
        </form>
    </div>
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/maps.css">
{% endblock %}

{% block body %}
        <section class="map">
            <div id="map"></div>
        </section>
    <script src="/static/js/maps.js"></script>
    <script
        async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNsF_2Swk4zN6INkJSc_D6EjoDRMOLlB4&callback=initMap">
    </script>
{% endblock %}
