{% extends 'base.html' %}

{% block title %}ClinicFinder | All are welcome here.{% endblock %}

{% block head %}
    <!-- <script src=" https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js "></script> -->
{% endblock %}

{% block body %}
<script src="/static/js/homepage.js"></script>
<link rel="stylesheet" href="/static/css/homepage.css">
<div class="hero-image">
    <div class="hero-text">
        <h1>Your body, your choice.</h1>
        <p>This website provides information on remaining abortion clinics in the US, abortion restrictions/bans by state, as well as reproductive healthcare resources.</p>
        <button><a class="link" id="services" href="/clinicMap">Find a Clinic Near You</a></button>
    </div>
</div>
<nav role="navigation" class="header-navigation" id="header">
    <ul>
        <li><a class="link" id="guide" href='/resources'>Resource Guide</a></li>
        <li><a class="link" id="statistics" href='/statistics'>Abortion Statistics</a></li>
        <li><a class="link" id="state" href='/statebystate'>State-By-State Guide</a></li>
        <li><a class="link" id="login" href='/logIn'>Login</a></li>
        <li><a class="link" id="createaccount" href='/createaccount'>Create Account</a></li>
    </ul>
</nav>     
</div>
{% endblock %}

<!-- {% block js %}
  <script src="/static/js/charts.js"></script>
{% endblock %} -->