{% extends 'base.html' %}

{% block title %}Resource Guide{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/maps.css">
{% endblock %}

{% block body %}
<ul class="main__menu">
    <li class="list-item">
      <a href="organizations" class="organizations">
        <span>Organizations</span>
        <i class="ion ion-ios-home-outline"></i>
      </a>
      <ul class="drop-menu menu-1">
        <li class="drop-item"><a href="https://www.psi.org/resources/" class="item--2">Population Services International</a></li>
        <li class="drop-item"><a href="https://www.ibisreproductivehealth.org/" class="item--3">Ibis Reproductive Health</a></li>
        <li class="drop-item"><a href="https://nwhn.org/" class="item--3">National Women's Health Network</a></li>
        <li class="drop-item"><a href="https://www.plannedparenthood.org/" class="item-1">Planned Parenthood</a></li>
        <li class="drop-item"><a href="https://prochoice.org/" class="item-1">National Abortion Federation</a></li>
        <li class="drop-item"><a href="https://www.ansirh.org/" class="item-1">Advancing New Standards in Reproductive Health</a></li>
      </ul>
    </li>
    <li class="list-item">
      <a href="education" class="education">
        <span>Education</span>
        <i class="ion ion-ios-contact-outline"></i>
      </a>
      <ul class="drop-menu menu-2">
        <li class="drop-item"><a href="https://siecus.org/" class="item--1">SIECUS</a></li>
        <li class="drop-item"><a href="https://www.reproductiveaccess.org/resources/" class="item--2">Reproductive Health Access Project</a></li>
        <li class="drop-item"><a href="https://nationalcoalitionforsexualhealth.org/" class="item--2">National Coalition for Sexual Health</a></li>
        <li class="drop-item"><a href="https://www.guttmacher.org/" class="item--3">Guttmacher Institute</a></li>
        <li class="drop-item"><a href="https://powertodecide.org/" class="item-3">Power to Decide</a></li>
      </ul>
    </li>
    <li class="list-item">
      <a href="legal" class="legal">
        <span>Legal</span>
        <i class="ion ion-ios-partly-sunny-outline"></i>
      </a>
      <ul class="drop-menu menu-3">
        <li class="drop-item"><a href="https://reproductiverights.org/" class="item--1">Center for Reproductive Rights</a></li>
        <li class="drop-item"><a href="https://www.prochoiceamerica.org/" class="item--2">NARAL Pro-Choice America</a></li>
        <li class="drop-item"><a href="https://www.aclu.org/other/about-aclu-reproductive-freedom-project" class="item--3">ACLU Reproductive Freedom Project</a></li>
      </ul>
    </li>
  </ul>
  <form id="backtohomepage" method="GET" action="/">
    <input type="submit" value="Back to Homepage" href="/homepage">
  </form>

<div class="flex-container">
        <section class="resources">
            <div id="resource"></div>
        </section>
    <header>
    <!-- <img src="/static/images/resources.jpeg" alt="Resources" id="img2"></src> --> 
    <h1>Below is a list of reproductive healthcare resources.</h1>
    </header>
    <ul>
        {% for resource in resources %}
            <li>
                <a href="/resources/{{ resource.resource_id }}">
                    <a href={{ resource.link }}>{{ resource.name }} | {{ resource.summary }}</a>
                </a>
            </li>
        {% endfor %}
    </ul>
    <script src="/static/js/resources.js"></script>
</div>  
{% endblock %}
