{% extends 'base.html' %}

{% block title %}Resource Guide{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/maps.css">
{% endblock %}

{% block body %}
<ul class="main__menu">
    <li class="list-item">
      <a href="organizations" class="organizations">
        <span>Organizations</span>
        <i class="ion ion-ios-home-outline"></i>
      </a>
      <ul class="drop-menu menu-1">
        <li class="drop-item"><a href="https://siecus.org/" class="item--1">Name</a></li>
        <li class="drop-item"><a href="#" class="item--2">Name</a></li>
        <li class="drop-item"><a href="#" class="item--3">Name</a></li>
      </ul>
    </li>
    <li class="list-item">
      <a href="education" class="education">
        <span>Education</span>
        <i class="ion ion-ios-contact-outline"></i>
      </a>
      <ul class="drop-menu menu-2">
        <li class="drop-item"><a href="#" class="item--1">Name</a></li>
        <li class="drop-item"><a href="#" class="item--2">Name</a></li>
        <li class="drop-item"><a href="#" class="item--3">Name</a></li>
      </ul>
    </li>
    <li class="list-item">
      <a href="legal" class="legal">
        <span>Legal</span>
        <i class="ion ion-ios-partly-sunny-outline"></i>
      </a>
      <ul class="drop-menu menu-3">
        <li class="drop-item"><a href="#" class="item--1">Name</a></li>
        <li class="drop-item"><a href="#" class="item--2">Name</a></li>
        <li class="drop-item"><a href="#" class="item--3">Name</a></li>
      </ul>
    </li>
  </ul>

<div class="flex-container">
        <section class="resources">
            <div id="resource"></div>
        </section>
    <header>
    <!-- <img src="/static/images/resources.jpeg" alt="Resources" id="img2"></src> -->
    <h1>Below is a list of reproductive healthcare resources.</h1>
    </header>
    <ul>
        {% for resource in resources %}
            <li>
                <a href="/resources/{{ resource.resource_id }}">
                    <a href={{ resource.link }}>{{ resource.name }} | {{ resource.summary }}</a>
                </a>
            </li>
        {% endfor %}
    </ul>
    <script src="/static/js/resources.js"></script>
</div> 
{% endblock %}
