{% extends 'base.html' %}

{% block title %}Resource Guide{% endblock %}

{% block head %}
  <link rel="icon" href="/static/images/rights2.png" id="icon">
  <link rel="stylesheet" href="/static/css/resources.css">
{% endblock %}

{% block body %}
<link href='https://fonts.googleapis.com/css?family=Pathway Gothic One' rel="stylesheet">
<div class="hero-image">

<form action="/">
  <button id="button">Homepage</button>
</form>

<nav>
  <ul>
    <li>
      <a href="#0">Advocacy</a>
      <ul>
        <li><a href="https://www.reproductiveaccess.org/resources/">
          <img src="/static/images/resources/RHAP.jpeg" width="20" height="20">Reproductive Health Access Project</a></li>
        <li><a href="https://nationalcoalitionforsexualhealth.org/#">
          <img src="/static/images/resources/NCSH.png" width="20" height="20">National Coalition for Sexual Health</a></li>
        <li><a href="https://www.psi.org/resources/">
          <img src="/static/images/resources/PSI.jpeg" width="20" height="20">Population Services International</a></li>  
        <li><a href="https://www.plannedparenthood.org/">
          <img src="/static/images/resources/PP.png" width="20" height="20">Planned Parenthood</a></li>  
        <li><a href="https://prochoice.org/">
          <img src="/static/images/resources/NAF.jpeg" width="20" height="20">National Abortion Federation</a></li> 
      </ul>
    </li>
    <li>
      <a href="#0">Education</a>
      <ul>
        <li><a href="https://19thnews.org/topics/abortion/">
          <img src="/static/images/resources/19th.jpeg" width="20" height="20">The 19th News</a></li>
        <li><a href="https://siecus.org/">
          <img src="/static/images/resources/SIECUS.png" width="20" height="20">SIECUS</a></li>
        <li><a href="https://powertodecide.org/">
          <img src="/static/images/resources/PTD.png" width="20" height="20">Power to Decide</a></li>
        <li><a href="https://pai.org/">
          <img src="/static/images/resources/PAI.png" width="20" height="20">PAI</a></li> 
        <li><a href="https://www.washingtonpost.com/people/caroline-kitchener/">
          <img src="/static/images/resources/twp.webp" width="20" height="20">The Washington Post | Carolyn Kitchener</a></li> 
      </ul>
    </li>
    <li>
      <a href="#0">Research</a>
      <ul>
        <li><a href="https://www.ibisreproductivehealth.org/">
          <img src="/static/images/resources/ibis.png" width="20" height="20">Ibis Reproductive Health</a></li>
        <li><a href="https://www.pewresearch.org/">
          <img src="/static/images/resources/pew.png" width="20" height="20">Pew Research Center</a></li>
        <li><a href="https://www.guttmacher.org/">
          <img src="/static/images/resources/GI.svg" width="20" height="20">Guttmacher Institute</a></li>
        <li><a href="https://www.icrw.org/">
          <img src="/static/images/resources/icrw.png" width="20" height="20">International Center for Research on Women</a></li>
        <li><a href="https://www.ansirh.org/">
          <img src="/static/images/resources/ANSIRH.png" width="20" height="20">Advancing New Standards in Reproductive Health</a></li>  
      </ul>
    </li>
    <li>
      <a href="#0">Policy</a>
      <ul>
        <li><a href="https://nwhn.org/">
          <img src="/static/images/resources/NWHN.png" width="20" height="20">National Women's Health Network</a></li>
        <li><a href="https://www.prochoiceamerica.org/">
          <img src="/static/images/resources/NARAL.jpeg" width="20" height="20">NARAL Pro-Choice America</a></li>
        <li><a href="https://iwpr.org/">
          <img src="/static/images/resources/iwpr.jpeg" width="20" height="20">Institute for Women's Policy Research</a></li>  
      </ul>
    </li>
    <li>
      <a href="#0">Legal</a>
      <ul>
        <li><a href="https://reproductiverights.org/">
          <img src="/static/images/resources/CRR.jpeg" width="20" height="20">Center for Reproductive Rights</a></li>
        <li><a href="https://www.aclu.org/other/about-aclu-reproductive-freedom-project">
          <img src="/static/images/resources/ACLU.png" width="20" height="20">ACLU Reproductive Freedom Project</a></li> 
        <li><a href="https://abortionfunds.org/">
          <img src="/static/images/resources/NNAF.jpeg" width="20" height="20">National Network of Abortion Funds</a></li>
        <li><a href="https://nwlc.org/">
          <img src="/static/images/resources/nwlc.png" width="20" height="20">National Women's Law Center</a></li>  
      </ul>
    </li>
  </ul>
</nav>
</div>
{% endblock %}
