{% extends 'base.html' %}

{% block title %}State-by-State Guide{% endblock %}

{% block head %}
    <link rel="icon" href="/static/images/rights2.png" id="icon">
    <link rel="stylesheet" href="/static/css/stateguide.css">
{% endblock %}

{% block body %}
<link href='https://fonts.googleapis.com/css?family=Pathway Gothic One' rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel="stylesheet">
<script src="/static/js/stateguide.js"></script>
<form action="/">
    <button id="button">Homepage</button>
  </form>
    <h1>State-by-State Guide</h1>
    <p>Recently Updated | Current as of April 1, 2023</p>
    <div class="StateGuide" id="state-guide">
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-alabama">Alabama is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/AL.svg" id="image">
                    <h3>Abortion in Alabama</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-alaska">Abortion services remain legal in Alaska.</p>
                <p class="flex-group">
                    <img src="/static/images/states/AK.svg" id="image">
                    <h3>Abortion in<br>Alaska</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-arizona">Arizona is enforcing a law that restricts abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/AZ.svg" id="image">
                    <h3>Abortion in<br>Arizona</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-arkansas">Arkansas is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/AR.svg" id="image">
                    <h3>Abortion in Arkansas</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-california">Abortion services remain legal in California.</p>
                <p class="flex-group">
                    <img src="/static/images/states/CA.svg" id="image">
                    <h3>Abortion in California</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-colorado">Abortion services remain legal in Colorado.</p>
                <p class="flex-group">
                    <img src="/static/images/states/CO.svg" id="image">
                    <h3>Abortion in Colorado</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-connecticut">Abortion services remain legal in Connecticut.</p>
                <p class="flex-group">
                    <img src="/static/images/states/CT.svg" id="image">
                    <h3>Abortion in Connecticut</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-delaware">Abortion services remain legal in Delaware.</p>
                <p class="flex-group">
                    <img src="/static/images/states/DE.svg" id="image">
                    <h3>Abortion in Delaware</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-florida">Florida is enforcing a law that restricts abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/FL.svg" id="image">
                    <h3>Abortion in<br>Florida</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-georgia">Georgia is enforcing a law that restricts abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/GA.svg" id="image">
                    <h3>Abortion in Georgia</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-hawaii">Abortion services remain legal in Hawaii.</p>
                <p class="flex-group">
                    <img src="/static/images/states/HI.svg" id="image">
                    <h3>Abortion in<br>Hawaii</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-idaho">Idaho is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/ID.svg" id="image">
                    <h3>Abortion in<br>Idaho</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-illinois">Abortion services remain legal in Illinois.</p>
                <p class="flex-group">
                    <img src="/static/images/states/IL.svg" id="image">
                    <h3>Abortion in<br>Illinois</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-indiana">A new law that completely bans abortions in Indiana has been blocked. Abortion services remain legal.</p>
                <p class="flex-group">
                    <img src="/static/images/states/IN.svg" id="image1">
                    <h3>Abortion in Indiana</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-iowa">Due to a 2022 U.S. Supreme Court ruling, Iowa may begin enforcing one or more laws that restrict abortion access.</p>
                <p class="flex-group">
                    <img src="/static/images/states/IA.svg" id="image1">
                    <h3>Abortion in<br>Iowa</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-kansas">Abortion services remain legal in Kansas.</p>
                <p class="flex-group">
                    <img src="/static/images/states/KS.svg" id="image">
                    <h3>Abortion in Kansas</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-kentucky">Kentucky is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/KY.svg" id="image">
                    <h3>Abortion in Kentucky</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-louisiana">Louisiana is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/LA.svg" id="image">
                    <h3>Abortion in Louisiana</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-maine">Abortion services remain legal in Maine.</p>
                <p class="flex-group">
                    <img src="/static/images/states/ME.svg" id="image">
                    <h3>Abortion in<br>Maine</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-maryland">Abortion services remain legal in Maryland.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MD.svg" id="image">
                    <h3>Abortion in Maryland</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-massachusetts">Abortion services remain legal in Massachusetts.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MA.svg" id="image">
                    <h3>Abortion in Massachusetts</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-michigan">Abortion services remain legal in Michigan.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MI.svg" id="image">
                    <h3>Abortion in Michigan</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-minnesota">Abortion services remain legal in Minnesota.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MN.svg" id="image">
                    <h3>Abortion in Minnesota</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-mississippi">Mississippi is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MS.svg" id="image">
                    <h3>Abortion in Mississippi</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-missouri">Missouri is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MO.svg" id="image">
                    <h3>Abortion in Missouri</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-montana">Abortion services remain legal in Montana.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MT.svg" id="image">
                    <h3>Abortion in Montana</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-nebraska">Abortion services remain legal in Nebraska.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NE.svg" id="image">
                    <h3>Abortion in Nebraska</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-nevada">Abortion services remain legal in Nevada.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NV.svg" id="image">
                    <h3>Abortion in Nevada</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-new-hampshire">Abortion services remain legal in New Hampshire.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NH.svg" id="image">
                    <h3>Abortion in<br>New Hampshire</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-new-jersey">Abortion services remain legal in New Jersey.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NJ.svg" id="image">
                    <h3>Abortion in<br>New Jersey</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-new-mexico">Abortion services remain legal in New Mexico.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NM.svg" id="image">
                    <h3>Abortion in<br>New Mexico</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-new-york">Abortion services remain legal in New York.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NY.svg" id="image">
                    <h3>Abortion in<br>New York</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-north-carolina">North Carolina is enforcing a law that restricts abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NC.svg" id="image">
                    <h3>Abortion in<br>North Carolina</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-north-dakota">A new law that completely bans abortions in North Dakota has been blocked. Abortion services remain legal.</p>
                <p class="flex-group">
                    <img src="/static/images/states/ND.svg" id="image1">
                    <h3>Abortion in North Dakota</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-ohio">A new law that completely bans abortions in Ohio has been blocked. Abortion services remain legal.</p>
                <p class="flex-group">
                    <img src="/static/images/states/OH.svg" id="image1">
                    <h3>Abortion in<br>Ohio</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-oklahoma">Oklahoma is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/OK.svg" id="image">
                    <h3>Abortion in Oklahoma</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-oregon">Abortion services remain legal in Oregon.</p>
                <p class="flex-group">
                    <img src="/static/images/states/OR.svg" id="image">
                    <h3>Abortion in Oregon</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-pennsylvania">Abortion services remain legal in Pennsylvania.</p>
                <p class="flex-group">
                    <img src="/static/images/states/PA.svg" id="image">
                    <h3>Abortion in Pennsylvania</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-rhode-island">Abortion services remain legal in Rhode Island.</p>
                <p class="flex-group">
                    <img src="/static/images/states/RI.svg" id="image">
                    <h3>Abortion in<br>Rhode Island</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-south-carolina">A new law that completely bans abortions in South Carolina has been blocked. Abortion services remain legal.</p>
                <p class="flex-group">
                    <img src="/static/images/states/SC.svg" id="image1">
                    <h3>Abortion in<br>South Carolina</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-south dakota">South Dakota is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/SD.svg" id="image">
                    <h3>Abortion in<br>South Dakota</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-tennessee">Tennessee is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/TN.svg" id="image">
                    <h3>Abortion in Tennessee</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-texas">Texas is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/TX.svg" id="image">
                    <h3>Abortion in<br>Texas</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-utah">Utah is enforcing a law that restricts abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/UT.svg" id="image">
                    <h3>Abortion in<br>Utah</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-vermont">Abortion services remain legal in Vermont.</p>
                <p class="flex-group">
                    <img src="/static/images/states/VT.svg" id="image">
                    <h3>Abortion in Vermont</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-virginia">Abortion services remain legal in Virginia.</p>
                <p class="flex-group">
                    <img src="/static/images/states/VA.svg" id="image">
                    <h3>Abortion in Virginia</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-washington">Abortion services remain legal in Washington.</p>
                <p class="flex-group">
                    <img src="/static/images/states/WA.svg" id="image">
                    <h3>Abortion in Washington</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-washington-dc">Abortion services remain legal in Washington, D.C..</p>
                <p class="flex-group">
                    <img src="/static/images/states/DC.svg" id="image">
                    <h3>Abortion in Washington, D.C.</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-west-virginia">West Virginia is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/WV.svg" id="image">
                    <h3>Abortion in<br>West Virginia</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-wisconsin">Due to a 2022 U.S. Supreme Court ruling, Wisconsin may begin enforcing one or more laws that restrict abortion access.</p>
                <p class="flex-group">
                    <img src="/static/images/states/WI.svg" id="image1">
                    <h3>Abortion in Wisconsin</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard"></a>
                <a class="current-status" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-wyoming">A new law that completely bans abortions in Wyoming has been blocked. Abortion services remain legal.</p>
                <p class="flex-group">
                    <img src="/static/images/states/WY.svg" id="image1">
                    <h3>Abortion in Wyoming</h3>
                </p>
            </a>
        </div>
    </div>
{% endblock %}