{% extends 'base.html' %}

{% block title %}State-by-State Guide{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/stateguide.css"
{% endblock %}

{% block body %}
    <script src="/static/js/stateguide.js"></script>
    <section class="states">
        <!-- <div id="states"></div> -->
    </section>
    <h1>State-by-State Guide</h1>
    <p>Recently Updated | Current as of March 9, 2023</p>
    <script src="/static/js/stateguide.js"></script>
    <!-- <p class="list" id="list"> -->
        <!-- <form>
            <label for="state-select">Select from the dropdown menu to get information on your states current laws surrounding abortion resources.</label>
            <select name="state" id="state-select">
                <option value="Blank">Select a state</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
        </form>
    </p> -->
    <div class="StateGuide" id="state-guide">
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-alabama"
                <p class="current-status">Alabama is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/AL.svg">
                    <h3>Abortion in Alabama</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-alaska"
                <p class="current-status">Abortion services remain legal in Alaska.</p>
                <p class="flex-group">
                    <img src="/static/images/states/AK.svg">
                    <h3>Abortion in Alaska</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-arizona"
                <p class="current-status">Arizona is enforcing a law that restricts abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/AZ.svg">
                    <h3>Abortion in Arizona</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-arkansas"
                <p class="current-status">Arkansas is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/AR.svg">
                    <h3>Abortion in Arkansas</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-california"
                <p class="current-status">Abortion services remain legal in California.</p>
                <p class="flex-group">
                    <img src="/static/images/states/CA.svg">
                    <h3>Abortion in California</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-colorado"
                <p class="current-status">Abortion services remain legal in Colorado.</p>
                <p class="flex-group">
                    <img src="/static/images/states/CO.svg">
                    <h3>Abortion in Colorado</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-connecticut"
                <p class="current-status">Abortion services remain legal in Connecticut.</p>
                <p class="flex-group">
                    <img src="/static/images/states/CT.svg">
                    <h3>Abortion in Connecticut</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-delaware"
                <p class="current-status">Abortion services remain legal in Delaware.</p>
                <p class="flex-group">
                    <img src="/static/images/states/DE.svg">
                    <h3>Abortion in Delaware</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-florida"
                <p class="current-status">Florida is enforcing a law that restricts abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/FL.svg">
                    <h3>Abortion in Florida</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-georgia"
                <p class="current-status">Georgia is enforcing a law that restricts abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/GA.svg">
                    <h3>Abortion in Georgia</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-hawaii"
                <p class="current-status">Abortion services remain legal in Hawaii.</p>
                <p class="flex-group">
                    <img src="/static/images/states/HI.svg">
                    <h3>Abortion in Hawaii</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-idaho"
                <p class="current-status">Idaho is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/ID.svg">
                    <h3>Abortion in Idaho</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-illinois"
                <p class="current-status">Abortion services remain legal in Illinois.</p>
                <p class="flex-group">
                    <img src="/static/images/states/IL.svg">
                    <h3>Abortion in Illinois</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-indiana"
                <p class="current-status">A new law that completely bans abortions in Indiana has been blocked. Abortion services remain legal.</p>
                <p class="flex-group">
                    <img src="/static/images/states/IN.svg">
                    <h3>Abortion in Indiana</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-iowa"
                <p class="current-status">Due to a 2022 U.S. Supreme Court ruling, Iowa may begin enforcing one or more laws that restrict abortion access.</p>
                <p class="flex-group">
                    <img src="/static/images/states/IA.svg">
                    <h3>Abortion in Iowa</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-kansas"
                <p class="current-status">Abortion services remain legal in Kansas.</p>
                <p class="flex-group">
                    <img src="/static/images/states/KS.svg">
                    <h3>Abortion in Kansas</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-kentucky"
                <p class="current-status">Kentucky is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/KY.svg">
                    <h3>Abortion in Kentucky</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-louisiana"
                <p class="current-status">Louisiana is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/LA.svg">
                    <h3>Abortion in Louisiana</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-maine"
                <p class="current-status">Abortion services remain legal in Maine.</p>
                <p class="flex-group">
                    <img src="/static/images/states/ME.svg">
                    <h3>Abortion in Maine</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-maryland"
                <p class="current-status">Abortion services remain legal in Maryland.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MD.svg">
                    <h3>Abortion in Maryland</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-massachusetts"
                <p class="current-status">Abortion services remain legal in Massachusetts.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MA.svg">
                    <h3>Abortion in Massachusetts</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-michigan"
                <p class="current-status">Abortion services remain legal in Michigan.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MI.svg">
                    <h3>Abortion in Michigan</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-minnesota"
                <p class="current-status">Abortion services remain legal in Minnesota.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MN.svg">
                    <h3>Abortion in Minnesota</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-mississippi"
                <p class="current-status">Mississippi is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MS.svg">
                    <h3>Abortion in Mississippi</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-missouri"
                <p class="current-status">Missouri is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MO.svg">
                    <h3>Abortion in Missouri</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-montana"
                <p class="current-status">Abortion services remain legal in Montana.</p>
                <p class="flex-group">
                    <img src="/static/images/states/MT.svg">
                    <h3>Abortion in Montana</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-nebraska"
                <p class="current-status">Abortion services remain legal in Nebraska.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NE.svg">
                    <h3>Abortion in Nebraska</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-nevada"
                <p class="current-status">Abortion services remain legal in Nevada.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NV.svg">
                    <h3>Abortion in Nevada</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-new-hampshire"
                <p class="current-status">Abortion services remain legal in New Hampshire.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NH.svg">
                    <h3>Abortion in New Hampshire</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-new-jersey"
                <p class="current-status">Abortion services remain legal in New Jersey.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NJ.svg">
                    <h3>Abortion in New Jersey</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-new-mexico"
                <p class="current-status">Abortion services remain legal in New Mexico.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NM.svg">
                    <h3>Abortion in New Mexico</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-new-york"
                <p class="current-status">Abortion services remain legal in New York.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NY.svg">
                    <h3>Abortion in New York</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-north-carolina"
                <p class="current-status">North Carolina is enforcing a law that restricts abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/NC.svg">
                    <h3>Abortion in North Carolina</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-north-dakota"
                <p class="current-status">A new law that completely bans abortions in North Dakota has been blocked. Abortion services remain legal.</p>
                <p class="flex-group">
                    <img src="/static/images/states/ND.svg">
                    <h3>Abortion in North Dakota</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-ohio"
                <p class="current-status">A new law that completely bans abortions in Ohio has been blocked. Abortion services remain legal.</p>
                <p class="flex-group">
                    <img src="/static/images/states/OH.svg">
                    <h3>Abortion in Ohio</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-oklahoma"
                <p class="current-status">Oklahoma is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/OK.svg">
                    <h3>Abortion in Oklahoma</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-oregon"
                <p class="current-status">Abortion services remain legal in Oregon.</p>
                <p class="flex-group">
                    <img src="/static/images/states/OR.svg">
                    <h3>Abortion in Oregon</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-pennsylvania"
                <p class="current-status">Abortion services remain legal in Pennsylvania.</p>
                <p class="flex-group">
                    <img src="/static/images/states/PA.svg">
                    <h3>Abortion in Pennsylvania</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-rhode-island"
                <p class="current-status">Abortion services remain legal in Rhode Island.</p>
                <p class="flex-group">
                    <img src="/static/images/states/RI.svg">
                    <h3>Abortion in Rhode Island</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-south-carolina"
                <p class="current-status">A new law that completely bans abortions in South Carolina has been blocked. Abortion services remain legal.</p>
                <p class="flex-group">
                    <img src="/static/images/states/SC.svg">
                    <h3>Abortion in South Carolina</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-south dakota"
                <p class="current-status">South Dakota is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/SD.svg">
                    <h3>Abortion in South Dakota</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-tennessee"
                <p class="current-status">Tennessee is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/TN.svg">
                    <h3>Abortion in Tennessee</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-texas"
                <p class="current-status">Texas is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/TX.svg">
                    <h3>Abortion in Texas</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-utah"
                <p class="current-status">Utah is enforcing a law that restricts abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/UT.svg">
                    <h3>Abortion in Utah</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-vermont"
                <p class="current-status">Abortion services remain legal in Vermont.</p>
                <p class="flex-group">
                    <img src="/static/images/states/VT.svg">
                    <h3>Abortion in Vermont</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-virginia"
                <p class="current-status">Abortion services remain legal in Virginia.</p>
                <p class="flex-group">
                    <img src="/static/images/states/VA.svg">
                    <h3>Abortion in Virginia</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-washington"
                <p class="current-status">Abortion services remain legal in Washington.</p>
                <p class="flex-group">
                    <img src="/static/images/states/WA.svg">
                    <h3>Abortion in Washington</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard2">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-washington-dc"
                <p class="current-status">Abortion services remain legal in Washington, D.C..</p>
                <p class="flex-group">
                    <img src="/static/images/states/DC.svg">
                    <h3>Abortion in Washington, D.C.</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard1">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-west-virginia"
                <p class="current-status">West Virginia is enforcing a total ban on abortion.</p>
                <p class="flex-group">
                    <img src="/static/images/states/WV.svg">
                    <h3>Abortion in West Virginia</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-wisconsin"
                <p class="current-status">Due to a 2022 U.S. Supreme Court ruling, Wisconsin may begin enforcing one or more laws that restrict abortion access.</p>
                <p class="flex-group">
                    <img src="/static/images/states/WI.svg">
                    <h3>Abortion in Wisconsin</h3>
                </p>
            </a>
        </div>
        <div class="state" id="stateCard3">
            <a class="StateCard" href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-wyoming"
                <p class="current-status">A new law that completely bans abortions in Wyoming has been blocked. Abortion services remain legal.</p>
                <p class="flex-group">
                    <img src="/static/images/states/WY.svg">
                    <h3>Abortion in Wyoming</h3>
                </p>
            </a>
        </div>
    </div>
{% endblock %}