{% extends 'base.html' %}

{% block title %}Abortion Statistics{% endblock %}

{% block head %}
<script src=" https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js "></script>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/css/statistics.css">
<div class="chart-container">
    <h1>Abortion Occurrence Based on Pregnancy Stage</h1>
    <h3>Before the fall of Roe, more than 2/3 of abortions occurred at eight weeks of pregnancy or earlier.</h3>
    <canvas id="abortion-stage"></canvas>  

    <h1>Before and After the Fall of Roe</h1>
    <h3>100 Days Post-Roe: At Least 66 Clinics Across 15 US States Have Stopped Offering Abortion Care</h3>
    <canvas id="abortion-chart"></canvas>  
</div>
{% endblock %}

{% block js %}
  <script src="/static/js/charts.js"></script>
{% endblock %}
