{% extends 'base.html' %}

{% block title %}Statistics{% endblock %}

{% block head %}
<script src=" https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js "></script>
{% endblock %}

{% block body %}
<nav role="navigation" class="header-navigation" id="header">
  <ul>
      <li><a class="link" id="homepage" href='/'>Homepage</a></li>
      <li><a class="link" id="guide" href='/resources'>Resource Guide</a></li>
      <li><a class="link" id="statistics" href='/statebystate'>State-By-State Guide</a></li>
      <li><a class="link" id="map" href='/clinicMap'>Map</a></li>
      <li><a class="link" href="https://www.weareplannedparenthood.org/onlineactions/2U7UN1iNhESWUfDs4gDPNg2?_gl=1*il9wq5*_ga*MTk3MDI0OTQzOC4xNjc3NTE3Njkx*_gid*MTQ3Nzg3OTk5OS4xNjc4MzIwODY5">Donate to Planned Parenthood</a>
      <li><a class="link" id="login" href='/logIn'>Login</a></li>
  </ul>
</nav> 
<link rel="stylesheet" href="/static/css/statistics.css">
<div class="chart-container">
    <h1>Abortion Occurrence Based on Pregnancy Stage</h1>
    <h3>Before the fall of Roe, more than 2/3 of abortions occurred at eight weeks of pregnancy or earlier.</h3>
    <canvas id="abortion-stage"></canvas>  

    <h1>Before and After the Fall of Roe</h1>
    <h3>100 Days Post-Roe: At Least 66 Clinics Across 15 US States Have Stopped Offering Abortion Care</h3>
    <canvas id="abortion-chart"></canvas>  

    <h1>Medication Abortions in the US</h1>
    <h3>As of 2020, medication abortions account for the majority of all US abortions.</h3>
    <canvas id="abortion-type"></canvas>  
</div>
{% endblock %}

{% block js %}
  <script src="/static/js/charts.js"></script>
{% endblock %}
