{% extends 'base.html' %}

{% block title %}State-by-State Guide{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/stateguide.css"
{% endblock %}

{% block body %}
        <section class="states">
            <div id="states"></div>
        </section>
    <h1>State-by-State Guide</h1>
        <p>Select your state to get information on your states current laws surrounding abortion resources.</p>
        <div class="dropdown">
            <button>Select your state</button>
            <div class="dropdown-options">
                <a href="#">Alaska</a>
                <a href="#">Minnesota</a>
            </div>
        </div>
{% endblock %}